<h1>Healthy Dreamers</h1>
<% render @posts %>

<% @posts_per_category.each do |category, posts| %>
  <h3><%= category %></h3>
  <% posts.each do |post| %>
    <h2><%= link_to post.title, post %></h2>
  <% end %>
<% end %>